.header {
  background: #000;
  text-align: center;
  padding: 10px 0;
  text-align: left;
  padding-left: 2%;
}

.navbar {
  display: none;
  position: absolute;
  background-color: #ffff00;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar:hover {
  display: block;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  color: #000;
  text-decoration: none;
  display: block;
}

.navbar a:hover {
  background-color: #000;
  color: #ffff00;
}

.menu-img {
  max-width: 3%;
}

.menu:hover .navbar {
  display: block;
}

/* footer */
.footer_container {
  display: grid;
  grid-template-columns: auto auto;
}

.icons {
  max-width: 5%;
}

.networking {
  padding-left: 10%;
}

.networking img {
  margin: 1%;
}

.contact {
  background-color: #000;
}

.contact img {
  margin: 1%;
  float: right;
}
